.main {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container {
  height: 100vh;
  min-height: fit-content;
  width: 100%;
  background-color: #02044a;
  padding: 1rem;
  display: flex;
  flex-direction: column;
}
.wrapper {
  flex: 1;
  display: flex;
  border-top: solid thin #888;
}
